@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;600;700&display=swap');

body{
    background: linear-gradient(15deg, #13547a 0%, #69aca5 100%);
    color: white;
    height: 100vh;
}

.title{
    margin: 10px;
    padding: 15px;
}

.description{
    margin: 10px;
    padding-bottom: 25px;
}

.frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    font-family: "Chakra Petch", serif;
    margin: 20px;
}

.length{
    font-weight: bold;
}

.password{
    font-weight: 600px;
}

.generated-password{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.password-status{
    display: flex;
}

.password-length{
    display: flex;
    justify-content: space-between;
}

.range{
    width: 70%;
}

.container{
    background-color: white;
    color: black;
    padding: 20px 40px;
    border-radius: 15px;
}

.status{
    color: green;
    font-weight: bold;
}

button{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(15deg, #13547a 0%, #69aca5 100%);
    color: white;
    cursor: pointer;
    font-size: 25px;
    font-family: "Chakra Petch", serif;
}

.generated-button{
    display: flex;
    justify-content: center;
    margin: 20px;
    transition: 0.5s;
}

.generated-button:hover{
    opacity: 0.9;
}

.uppercase,
.lowercase,
.numbers,
.symbols{
    margin: 10px;
}

input[type="checkbox"] {
    width: 12px;
    height: 12px;
    transform: scale(1.5); 
}



